
body{
  font-family: 'Charmonman', cursive;
  background-color: purple;
}
.header{
  display: inline-flex;
  text-align: center;
  
}
li{
  font-size: 30px;
  list-style: none;
  padding-right: 20px;
  
}
a:-webkit-any-link {
  color: greenyellow;
}
h2{
  color: lightseagreen;
}
